#Copy this to /etc/systemd/system/custom.target.wants/gputweak.service
[Unit]
Description=tweak GPU at startup
After=multi-user.target

[Service]
Type=forking
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/gputweak -v --user miner
ExecStop=/usr/bin/gputweak -v --reset
RemainAfterExit=true

[Install]
WantedBy=custom.target

